body{
  color:#333;
  font-family: Tahoma, Geneva, sans-serif;
  font-size:16px;
  font-size:1em;
  padding:0.5em 1em;
  margin:0em;
}

.menu{
  list-style:none;
  padding:0em;
  margin:0em;
}

.menu li a{
  margin:0em;
  display:block;
  padding:0.5em;
  text-align:center;
  text-decoration:none;
  color:#888;
}

.menu li a:hover{
  color:#222;
}

.postimage{
  width:100%;
  padding:0em;
  margin:0em;
  box-shadow: 0em 0em 0.25em #4c4c4c;

}

form{
  background-color:#DDD;
  padding:1em;
}
label{
  display:block;
  font-weight:500;
}
input, select{
  border:solid #aaa 0.125em;
  box-sizing:border-box;
  width:100%;
  line-height:2em;
  padding:0.25em;
  margin:0.5em 0em;
  font-size:1em;
  border-radius:0.2em;
}
input[disabled=disabled]{
  background-color:#AAA;
  color:#EEE;
}
select[disabled=disabled]{
  background-color:#AAA;
  color:#EEE;
}

select{
  -webkit-appearance: button;
}
.footer{
  padding-top:1em;
  padding-bottom:1em;
  text-align:center;
  width:100%;
}

.hd{
  font-weight:bold;
}

.rowhd, .row{
  clear:both;
  overflow:auto;
  padding-top:0.5em;
  padding-bottom:0.5em;
}
.rowhd{
  background-color:#DDD;
}
.row:nth-child(even){
  background-color:#EEE;
}

@media screen and (min-width:481px){
  .right{
    text-align:right;
  }
  .left{
    text-align:left;
  }
  .center{
    text-align:center;
  }
  .menu{
    text-align:right;
  }
  .menu li{
    display:inline;
  }
  .menu li a{
    padding:0.5em 1em;
    display:inline-block;
    min-width:5em;
  }

  .postimage{
    display:block;
    width:30em;
    margin:1em auto !important;
  }
  .footer{
    position:fixed;
    bottom:0em;
  }
  form{
    max-width:45em;
    margin:1em auto;
    overflow:auto;
  }
  label{
    display:inline-block;
    width:100%;
    line-height:2em;
    padding:0.25em;
    margin:0.5em 0em;
  }
  input, select{
    display:inline-block;
    width:100%;
  }
  input[type=button]{
    width:initial;
    padding-left:1em;
    padding-right:1em;
  }
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12{
    float:left;
    box-sizing:border-box;
    margin-left:1.25%;
    vertical-align:top;
  }

  .col1{ width:6.97%;}
  .col2{ width:14.16%;}
  .col3{ width:22.5%;}
  .col4{ width:30.83%;}
  .col5{ width:39.16%;}
  .col6{ width:47.5%;}
  .col7{ width:55.83%;}
  .col8{ width:64.16%;}
  .col9{ width:72.5%;}
  .col10{ width:80.83%;}
  .col11{ width:89.16%;}
  .col12{ width:97.5%;}

  .col1:nth-child(1), .col2:nth-child(1), .col3:nth-child(1), .col4:nth-child(1),
  .col5:nth-child(1), .col6:nth-child(1), .col7:nth-child(1), .col8:nth-child(1),
  .col9:nth-child(1), .col10:nth-child(1), .col11:nth-child(1), .col12:nth-child(1){
    margin-right:1.25%;
  }
}
